# Projeto 1 - Ci√™ncia dos Dados

Nome: Adney Costa Moura

Nome: Lister Ogusuku Ribeiro

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [61]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [62]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
C:\Users\adney\OneDrive\Documentos\2¬∞ semestre - Insper\Ci√™ncia dos Dados\ProjetoCdados_AdneyLister

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [82]:
filename = 'nubank.xlsx'

In [91]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Relev√¢ncia
0                  @nubank voc√™ me ilude t√£o bem ü§©ü§©ü§©           0
1  vou ter que fazer parcelamento da parcela, eu ...           0
2  @hs_ramao @nubank aumentaram o meu e eu nem us...           1
3  hoje eu mal acordei e tava pegando √¥nibus o re...           0
4   ü§£ü§£ü§£ @nubank vamos amigar https://t.co/7k6syhkxf0           0

In [137]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Relev√¢ncia
0  @ogustamlk gu, obrigado por nos avisar sobre i...           0
1  @nubank nubank libera logo meu cartao de cr√©di...           1
2  nubank foi o melhor cart√£o que eu j√° fiz at√© h...           1
3                            @nubank quer casar cmg?           0
4         aeeee carai, nubank aceitou meu cr√©dito :3           1

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

Nosso produto foi a startup de servi√ßos financeiros Nubank. Consideramos como relevante as opera√ß√µes que envolvem o limite de cr√©dito, intera√ß√£o com o cliente e reclama√ß√µes.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [123]:
# Separando cada row do data frame, fazendo um split das palavras e limpando cada frase. Al√©m disso foi filtrado cada row
# as listas de relev√¢ncia.

lista_relevante = []
lista_irrelevante = []

for i in range(0,500):
    x = cleanup(train.Treinamento[i]).lower().split()
    
    if train.iloc[i,1] == 1:
        j = 0
        while j < len(x):
            lista_relevante.append(x[j])
            j+=1
        
    else:
        k = 0
        while k < len(x):
            lista_irrelevante.append(x[k])
            k+=1

# Tweets Relevantes

In [125]:
# Guardando as palavras como um pd.Series
serie_relevante = pd.Series(lista_relevante)
serie_relevante.head()

0     @hs_ramao
1       @nubank
2    aumentaram
3             o
4           meu
dtype: object

##### Frequ√™ncias Absolutas

In [178]:
tabela_relevante_absoluta = serie_relevante.value_counts()
tabela_relevante_absoluta

@nubank    135
o          117
nubank      97
de          95
meu         94
          ...
5000         1
indicar      1
otimo        1
ativar       1
negocio      1
Length: 1091, dtype: int64

##### Frequ√™ncias Relativas

In [153]:
tabela_relevante_relativa = serie_relevante.value_counts(True)
tabela_relevante_relativa

@nubank    0.038516
o          0.033381
nubank     0.027675
de         0.027104
meu        0.026819
             ...
5000       0.000285
indicar    0.000285
otimo      0.000285
ativar     0.000285
negocio    0.000285
Length: 1091, dtype: float64

# Tweets Irrelevantes

In [154]:
# Guardando as palavras como um pd.Series
serie_irrelevante = pd.Series(lista_irrelevante)
serie_irrelevante.head()

0    @nubank
1       voc√™
2         me
3      ilude
4        t√£o
dtype: object

##### Frequ√™ncias Absolutas

In [179]:
tabela_irrelevante_absoluta = serie_irrelevante.value_counts()
tabela_irrelevante_absoluta

de                       132
@nubank                  125
o                        116
que                      109
a                        106
                        ...
iphone                     1
caderninho                 1
https//tco/2s8errzhib      1
mod√©stia                   1
fugi                       1
Length: 1780, dtype: int64

##### Frequ√™ncias Relativas

In [156]:
tabela_irrelevante_relativa = serie_irrelevante.value_counts(True)
tabela_irrelevante_relativa

de                       0.025414
@nubank                  0.024066
o                        0.022333
que                      0.020986
a                        0.020408
                           ...
iphone                   0.000193
caderninho               0.000193
https//tco/2s8errzhib    0.000193
mod√©stia                 0.000193
fugi                     0.000193
Length: 1780, dtype: float64

# Tweets Totais

In [169]:
total = lista_relevante + lista_irrelevante

In [167]:
total_series = pd.Series(total)

##### Frequ√™ncias Absolutas

In [166]:
tabela_total = total_series.value_counts()
tabela_total

@nubank    260
o          233
de         227
nubank     191
que        166
          ...
d√©bito       1
ler          1
üòÜüòÜ           1
crescer      1
fugi         1
Length: 2392, dtype: int64

##### Frequ√™ncias Relativas

In [165]:
tabela_total_relativa = total_series.value_counts(True)
tabela_total_relativa

@nubank    0.029888
o          0.026785
de         0.026095
nubank     0.021957
que        0.019083
             ...
d√©bito     0.000115
ler        0.000115
üòÜüòÜ         0.000115
crescer    0.000115
fugi       0.000115
Length: 2392, dtype: float64

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [144]:
lista_test = []
lista_relevante_test = []
lista_irrelevante_test = []

for i in range(0,300):
    x = cleanup(test.Teste[i]).lower().split()
    
    lista_test.append(x)
    
    if train.iloc[i,1] == 1:
        j = 0
        while j < len(x):
            lista_relevante_test.append(x[j])
            j+=1
        
    else:
        k = 0
        while k < len(x):
            lista_irrelevante_test.append(x[k])
            k+=1

In [173]:
# Tweet a ser classificado
print(lista_test[0])
tweet = lista_test[0]

['@ogustamlk', 'gu', 'obrigado', 'por', 'nos', 'avisar', 'sobre', 'isso', 'como', 'n√£o', 'podemos', 'passar', 'informa√ß√µes', 'sobre', 'outros', 'clientes', 'poderia', 'nos', 'chamar', 'na', 'dm', 'precisamos', 'de', 'alguns', 'dados', 'que', 'est√£o', 'no', 'cart√£o', 'pra', 'agirmos', 'mais', 'rapidamente', 'üòâ']

In [176]:
# Probabilidade (Exerc√≠cio 1 - Aula 08)
Pr = len(lista_relevante)/len(total)
Pi = len(lista_irrelevante)/len(total)
print("Probabilidade de ser relevante: {0}".format(len(lista_relevante)/len(total)))
print("Probabilidade de ser irrelevante: {0}".format(len(lista_irrelevante)/len(total)))

Probabilidade de ser relevante: 0.4029198758477986
Probabilidade de ser irrelevante: 0.5970801241522014

In [182]:
 # Usando o suavizador de Laplace
acumulador_relevante = 1
acumulador_irrelevante = 1
for h in tweet:
    
    if h not in lista_relevante:
        tabela_relevante_absoluta[h] = 0
        
    if h not in lista_irrelevante:
        tabela_irrelevante_absoluta[h] = 0
        
    acumulador_relevante *= tabela_relevante_absoluta[h] + 1 / ( len(lista_relevante) + len(total) )
    acumulador_irrelevante *= tabela_irrelevante_absoluta[h] + 1 / ( len(lista_irrelevante) + len(total) )  
    
print("Acumulador relevante = {0}".format(acumulador_relevante))
print("Acumulador irrelevante = {0}".format(acumulador_irrelevante))

Acumulador relevante = 1.60361630284469e-45
Acumulador irrelevante = 7.715817040950341e-06

In [183]:
# Probabilidade Final
print(Pr*acumulador_relevante)
print(Pi*acumulador_irrelevante)

6.461288816496883e-46
4.606960996746301e-06

In [ ]:
# Como a segunda probabilidade √© maior, o tweet tem uma maior probabilidade de ser irrelevante

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfei√ßoamento:

Os trabalhos v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o ou classifica√ß√£o
* Criar categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que n√£o posso usar o pr√≥prio classificador para gerar mais amostras de treinamento
* Propor diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**